.form-label {
  color: #3c4c7b !important;
  font-family: "open_sansbold" !important;
  font-size: 12px !important;
  font-weight: 600 !important;
}
.defaultColor .ant-collapse-header {
  background-color: #dbdbdb !important;
  color: #3c4c7b !important;
}
.indicator-sheet-comments .ant-btn {
  background: #234a88 !important ;
  border-color: #234a88 !important;
}
.emptyColor .ant-collapse-header {
  background-color: #6390ce !important;
  color: #fff !important;
}
.ant-collapse-header {
  /* background-color: #dbdbdb !important; */
  /* color: #3c4c7b !important; */
  height: 30px !important;
  border-top-right-radius: 6px !important;
  border-top-left-radius: 6px !important;
  font-weight: 700 !important;
}
.site-collapse-custom-panel .ant-collapse-header span {
  padding: 0px !important;
  /* border: 0px solid #eaf0f7; */
  border: none !important;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  display: flex !important;
  align-items: center !important;
  padding: 0px 16px !important;
  color: #fff !important;
}
.pr-10 {
  padding-right: 5px !important;
}
.wd-50 {
  width: 40% !important;
}
.wd-30 {
  width: 20% !important;
}
.current-symptom-header {
  display: flex;
  width: 100%;
  background: #3c4c7b;
  height: 27px;
  font-weight: 700;
  align-items: center;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.current-symptom-header-text {
  color: white;
  padding-left: 10px;
}
.mt-14 {
  margin-top: 14px;
}
.width-100 {
  width: 100%;
}
.width-80 {
  width: 80%;
}
.dis-flex {
  display: flex !important;
}
.width-97 {
  width: 97% !important;
}
.ant-popover-message > .anticon {
  display: none !important;
}
.ant-popover-message-title {
  padding: 0px 12px 0px 12px !important;
}
.ant-popover-inner {
  background-color: #f9f9fd !important;
}
.ant-popover-buttons {
  display: flex;
  justify-content: center;
}
.form-save-btn {
  position: fixed !important;
  top: 90% !important;
  right: 16px !important;
  z-index: 999 !important;
  background-color: #15a540 !important;
  border: #15a540 !important;
  color: #ffff !important;
  box-shadow: none !important;
  text-shadow: none !important;
  border-radius: 6px !important;
}
.medi_plus_icon svg {
  font-size: 20px !important;
  font-weight: bold !important;
}
.medi_plus_icon {
  padding-left: 5px !important;
  padding-top: 5px !important;
  color: green !important;
}
.medi_del_icon {
  padding-left: 5px !important;
  padding-top: 5px !important;
  color: red !important;
}
.medi_del_icon svg {
  font-size: 20px !important;
  font-weight: bold !important;
}
.ant-collapse > .ant-collapse-item {
  margin-bottom: 8px !important;
}
.ant-collapse {
  background-color: #eaf0f7 !important;
}
