.ant-layout-footer {
    background-color: #FFF !important;
    padding: 13px 50px!important;
    /* text-align: center; */
    /* padding: 0 !important; */
    border: 1px solid #e5ecf4 !important;
    height: 51px !important;
    position: fixed;
    bottom: 0%;
    width: 100%;
  }
  .footer-text{
    color: #696969;
    /* font-weight: bold; */
    margin-bottom: 0%!important;
    text-align: center;
  }
  .footer-year{
    text-align: center;
    color: #737373;
  }