.basic-input {
	background-color: #fff !important;
	border-color: #fff !important;
	/* border-radius: 10px !important; */
}
.basic-textarea {
	/* border-radius: 10px !important; */
	background-color: #fff !important;
	/* border-color: #fff !important; */
	margin-left: 10px;
}
