.ant-select-dropdown {
  @include dropdown-height;
}
.careprovider-modal-icon.anticon {
  font-size: 19px !important;
  color: rgb(175, 171, 171);
}
.careprovider-modal-check-icon.anticon {
  font-size: 19px !important;
  color: #5ec51c !important;
}
.careprovider-modal-font-bold {
  font-weight: bold !important;
}

.center {
  justify-content: $justify-content-center;
}
.careprovider-modal-font {
  font-weight: normal !important;
}
.assign-care-provider-modal .ant-modal-header {
  background: $modal-header-background !important;
}
.assign-care-provider-modal .ant-modal-body {
  padding: 12px 24px 24px 24px !important;
}
.assign-care-provider-modal .ant-modal-close-x {
  color: #fff;
}
.assign-care-provider-modal .ant-modal-title {
  text-align: center !important;
  color: #fff !important;
}
// .careprovider-modal-icon.anticon:hover {
// 	color: #fff !important;
// }
// .assign-doctor-list-table .ant-table-tbody>tr>td.ant-table-cell-row-hover {
// 	background: #234A88 !important;
// 	color: #fff !important;
// }

.assign-doctor-list-table .ant-table-small .ant-table-thead > tr > th {
  background-color: #234a88 !important;
  color: #fff !important;
}
.assign-doctor-list-table .ant-table-row .ant-table-cell {
  font-size: 12px !important;
}
.assign-doctor-list-table .ant-table-tbody > tr > td {
  border-bottom: 1px solid #fff !important;
  padding: 5px !important;
}
.indicator-table .ant-table-thead > tr > th {
  font-size: 11px !important;
  font-weight: bold !important;
}
.indicator-table .ant-table-cell {
  padding-left: 0 !important;
}
.follow-up-date-picker .ant-picker-input input {
  font-size: 12px;
}
.follow-up-date-picker .ant-picker-dropdown {
  font-size: 11px !important;
}
.indicator-table .ant-picker {
  border: none !important;
  background: none !important;
}
.indicator-table .ant-table-body {
  min-height: calc(95vh - 240px) !important;
}

.indicator-table .ant-table-row .ant-table-cell {
  font-size: 12px !important;
}
.indicator-table.ant-pagination {
  font-size: 12px !important;
  margin: 7px 0 !important;
}
.add-health-care-popover {
  align-items: $align-items-center;
  max-height: 100px;
  overflow-y: scroll;
}
.ant-dropdown-menu-item {
  font-size: 12px !important;
}
.ant-table-filter-dropdown .ant-dropdown-menu {
  max-height: 130px !important;
  overflow-y: scroll !important;
}
.indicator-table .ant-table-footer {
  display: flex !important;
  width: 100% !important;
  padding: 4px !important;
  background-color: #ffffff !important;
}
.ant-table-filter-dropdown-btns .ant-btn-primary {
  border-color: #234a88;
  background: #234a88;
}
.diabetic-education-icon .anticon svg {
  font-size: 12px !important;
}
.indicator-table-header {
  display: flex;
  width: 100%;
  height: 31px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #1d4a88;
  align-items: center;
  color: #ffff;
}
.indicator-table-header-text {
  font-weight: 500;
  padding-left: 9px;
  font-size: 14px;
}
.indicator-table .ant-table {
  line-height: 0.5715 !important;
}
.ant-popover-title {
  text-align: center !important;
  font-weight: bold !important;
  background-color: #eaf0f7;
  font-size: 11px;
  min-height: 21px !important;
}
.ant-popover-inner-content {
  padding: 5px 2px !important;
}
.indicator-sheet-modal .ant-modal-header {
  background: #ffffff !important;
}
.indicator-sheet-modal-text {
  color: black;
  font-weight: bold;
  font-size: 23px;
}
.indicator-sheet-modal-header-btn {
  justify-content: end;
  column-gap: 10px;
}
.indicator-sheet-modal .ant-modal-close-x {
  color: #000 !important;
}
.indicator-sheet-modal-content {
  height: 100%;
  width: 100%;
  border-radius: 6px;
  background-color: #eaf0f7;
}
.modal-avatar {
  margin-top: 7px !important;
  margin-left: 7px !important;
}
.active-modal-header-doc-btn {
  width: 130px !important;
  background-color: #1d4a88 !important;
  border-color: #1d4a88 !important;
  color: #ffff !important;
  border-radius: 6px !important;
}
.inactive-modal-header-doc-btn {
  width: 130px !important;
  background-color: #ffff !important;
  border-color: #9ea0a1 !important;
  color: rgb(161, 158, 158) !important;
  border-radius: 6px !important;
}
.active-modal-header-nurse-btn {
  width: 130px !important;
  background-color: #1d4a88 !important;
  border-color: #1d4a88 !important;
  color: #ffff !important;
  border-radius: 6px !important;
}
.inactive-modal-header-nurse-btn {
  width: 130px !important;
  background-color: #ffff !important;
  border-color: #9ea0a1 !important;
  color: rgb(161, 158, 158) !important;
  border-radius: 6px !important;
}
/* .indicator-table-popover .ant-popover.ant-popover-inner-content {
	padding: 8px !important;
	height: 91px !important;
	overflow-y: scroll !important;
} */
.indicator-filter-selector .ant-select-dropdown {
  height: 160px !important;
  overflow-y: scroll !important;
}
.ant-select-item {
  font-size: 12px !important;
}
.dot-yes {
  height: 10px !important;
  width: 10px !important;
  /* background-color: #006400; */
  border-radius: 50%;
  display: inline-block;
}
.dot-no {
  @extend .dot-yes;
  background-color: red;
}

.indicator-table ::-webkit-scrollbar {
  height: 8px !important;
}
@media only screen and (min-device-width: 1600px) and (max-device-width: 2561px) {
  .indicator-table {
    height: calc(94vh - 160px) !important;
  }
  .indicator-table .ant-table-body {
    height: 68vh !important;
  }
  .indicator-table .ant-table-body table {
    height: 68vh !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 769) {
  .assign-doctor-list-table .ant-table-body {
    max-height: calc(75vh - 270px) !important;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1025px) {
  .assign-doctor-list-table .ant-table-body {
    max-height: calc(85vh - 270px) !important;
  }
}
@media only screen and (min-device-width: 1210px) and (max-device-width: 1260px) {
  .assign-doctor-list-table .ant-table-body {
    max-height: calc(82vh - 270px) !important;
  }
}
@media only screen and (min-device-width: 1300px) and (max-device-width: 1439px) {
  .assign-doctor-list-table .ant-table-body {
    max-height: calc(80vh - 270px) !important;
  }
}
@media only screen and (min-device-width: 1440px) and (max-device-width: 1559px) {
  .assign-doctor-list-table .ant-table-body {
    max-height: calc(67vh - 270px) !important;
  }
}
@media only screen and (min-device-width: 1560px) and (max-device-width: 1600px) {
  .assign-doctor-list-table .ant-table-body {
    max-height: calc(77vh - 270px) !important;
  }
}
@media only screen and (min-device-width: 1600px) and (max-device-width: 1700px) {
  .assign-doctor-list-table .ant-table-body {
    max-height: calc(77vh - 270px) !important;
  }
}
@media only screen and (min-device-width: 1790px) and (max-device-width: 1900px) {
  .assign-doctor-list-table .ant-table-body {
    max-height: calc(59vh - 270px) !important;
  }
}
